:root {
  --color-primary: #131027;
  --color-primary-light: #2E2C40;
  --color-secondary: #fff;
  --color-accent: #00B9F2;
  --color-green: #91B87A;
  --color-blue: #93BBE3;
  --color-yellow: #D7C663;

  --font-primary: "Montserrat", Helvetica, sans-serif;
}

html {
  font-family: var(--font-primary);
}

.primary-background {background-color: var(--color-primary)}

.semibold {font-weight: 600;}

.white {color: var(--color-secondary)}


/* ---Header --*/

header #nav-elements ul li:nth-child(-n+4) a:active {color: var(--color-secondary);}

header #nav-elements ul li:nth-child(-n+4) a:hover {color: #fff; transition: .2s all ease}

header #nav-elements ul li:nth-child(-n+4) a {color: #a19fa9}

.logo {width: 150px}

header div ul li a {color: var(--color-secondary); text-decoration: none;}

/* ---Footer--*/

footer {background-color: var(--color-primary-light);}
