:root {
  --color-primary: #131027;
  --color-primary-light: #2E2C40;
  --color-secondary: #fff;
  --color-accent: #00B9F2;
  --color-green: #91B87A;
  --color-blue: #93BBE3;
  --color-yellow: #D7C663;

  --font-primary: "Montserrat", Helvetica, sans-serif;
}

html {
  font-family: var(--font-primary);
}
