:root {
  --color-primary: #131027;
  --color-primary-light: #2E2C40;
  --color-primary-grey: #565465;
  --color-footer-bg: #4D4C5D;
  --color-secondary: #fff;
  --color-body-copy: #b4b3ba;
  --color-accent: #00B9F2;
  --color-green: #91B87A;
  --color-blue: #93BBE3;
  --color-yellow: #D7C663;

  --font-primary: "Montserrat", Helvetica, sans-serif;
}

html {
  font-family: var(--font-primary);
}

.primary-background {
  background-color: var(--color-primary);
}

.semibold {
  font-weight: 600;
}
.medium {
  font-weight: 400;
}

.white {
  color: var(--color-secondary);
}
.blue {
  color: var(--color-accent);
}

.body {
  color:#9b9aa4;
}


#main-page-bg {
  background-image: url(/images/index-background-image@2x.jpg);
  background-position: center;
  background-size: cover;

}


/* ---Header --*/

header #myTopnav ul li:nth-child(-n+4) a:active {
  color: var(--color-secondary);
}

header #myTopnav ul li:nth-child(-n+4) a:hover {
  color: #fff; transition: .2s all ease;

}

header #myTopnav ul li:nth-child(-n+4) a {
  color: #a19fa9;
}

.logo {
  width: 150px;
}

header div ul li a {
  color: var(--color-secondary);
  text-decoration: none;
}

#mobile-menu-btn {
  display:none;
  position: absolute;
  right: 20px;
  top: 5px;}

/* ---Mobile Nav--- */

.responsive {
  display: none!important;
}

#myTopMobileNav {
  display: none;
  height: 100vh;
  background-color: rgba(19,16,39,0.9);
  margin-top: 55px;
}

@media only screen and (max-width: 1130px) {

  #myTopnav, #myTopMobileNav {
    display: none;
  }

  li a {
    display: block;
    width: 100%;
  }

  #mobile-menu-btn {
    display:block;
    float: right;
  }

  .responsive {
    display: block!important;
  }
}

/* ---Footer--*/

footer {
  background-color: var(--color-footer-bg);
  border-top: 5px solid var(--color-primary-light);
}

@media only screen and (max-width: 38em) {

  footer {
    text-align: center;
  }

  #tagline {
    display: none;
  }

  #footer-contact {
    width: 300px;
  }

}


/*---Dashboard--*/

#dashboard-viewport {
  height: 105vh;
  background-image: url(/images/dashboard-bg.jpg);
  background-size: contain;
  overflow: hidden;
}

.overview-cards {
  max-width: 1500px;
}

@media only screen and (max-width: 38em) {

  #dashboard-viewport {
    overflow: scroll!important;
    height: 220vh;
    text-align: center;
  }

  #quick-btns-dashboard {
    display: none;
  }
}


@media only screen and (max-width: 60em) {
  #quick-btns-dashboard {
    display: none;
  }
  #dashboard-viewport-scroll {
    overflow: scroll;
    height: 175vh;
  }
}

/*--Invoice Page --*/

#dashboard-viewport-scroll {
  height: 105vh;
  background-image: url(/images/dashboard-bg.jpg);
  background-size: contain;
  overflow: hidden;
}

.active-box {
  background-color: var(--color-primary-light);
  border-radius: 15px 15px 15px 15px;
}

.top-box-corners {
  border-radius: 15px 15px 0px 0px;
}

.bottom-box-corners {
  border-radius: 0px 0px 15px 15px;
}

.log-in-card {
  background-color: var(--color-primary-light);
  border-radius: 20px;
  width: 25em;
}

.register-card {
  width: 50em;
}

.form-sec {
  height: 100vh;
  background-image: url('/images/dashboard-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form-sec-register {
  height: 180vh;
  background-image: url('/images/dashboard-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dashboard-card {
  margin-top: 3em;
}

.link-color {
  color: var(--color-accent);
}

.overflow-scroll {
  height: 100vh;
  overflow: scroll;
  width: 100%;
  margin: 0 90px;
}

.new-project-card {
  background-color: var(--color-primary-light);
  padding: 1em 1em;
  border-radius: 0 0 20px 20px;
}

.new-project-card-title {
  background-color: var(--color-primary-grey);
  padding: .75em 1em;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
}
