.quick-data-card {
  box-shadow: 0px 0px 15px rgba(0,0,0,.55);
  background-color: var(--color-primary-light);
  border-radius: 10px;
  text-align: center;
  margin: auto;
  max-width: 450px;
  height: 220px;
}

.green-txt {color: var(--color-green);}
.blue-txt {color: var(--color-blue);}
.yellow-txt {color: var(--color-yellow);}
