.btn {
  background-colour: var(color-accent);
  border-color: var(color-accent);
  color: var(color-secondary);

}

.btn-ghost {
  background-color: transparent;
  border-color: var(colour-secondary);
  color: var(color-secondary);
}
