<footer>
  <div class="grid grid-middle wrapper island-1-2">
    <div class="unit xs-1 s-1 m-1-3 l-1-3 island-1-2">
      <h5 style="line-height: 1.3em;" class="zetta medium text-upper push-none white">Making<br>money<br>easy.</h5>
    </div>
    <div class="unit xs-1 s-1 m-1-3 l-1-3 island-1-2">
      <div class="">
        <span class="left push-r-1-2" style="font-size: 2em; color: white;">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <p style="line-height:1.3em;padding-top:.4em;" class="milli push-1-2 body">21 Revolution Street<br>Ottawa, Ontario</p>
      </div>

      <div class="">
        <span class="left push-r-1-2" style="font-size: 1.5em; color: white;">
          <i class="fas fa-phone"></i>
        </span>
        <p style="padding-top:0.4em; margin-bottom:1.0rem!important" class="milli push body">613-737-1111</p>
      </div>

      <div class="">
        <span class="left push-r-1-2" style="font-size: 1.5em; color: white;">
          <i class="fas fa-envelope"></i>
        </span>
        <p style="padding-top:0.5em" class="milli push-none body">Support@company.com</p>
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-3 l-1-3 island-1-2">
      <h4 class="push-1-2 white">Adding Projects with Ease</h4>
      <p class="nano body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis libero laoreet, pellentesque ex sit amet, pellentesque libero. </p>
    </div>
  </div>
</footer>
