<header>
  <div class="grid grid-middle island-1-2 gutter">

    <!-------------- Logo ---------------->
    <div id="logo" class="unit xs-1 s-1 m-1-6 l-1-6">
      <a class="logo" href="{{site.baseurl}}/index.html"><img class="img-flex logo" src="{{site.baseurl}}/images/outvoice-logo-white.svg" alt="Outvoice white logo"></a>
    </div>

    <!-------------- Nav Elements ---------------->

    <div id="nav-elements" class="unit xs-1 s-1 m-4-6 l-5-6">

        <ul class="list-group-inline push-0 right text-upper semibold">
          <li class="gutter"><a class="nano" href="#">Home</a></li>
          <li class="gutter"><a class="nano" href="#">Why Outvoice?</a></li>
          <li class="gutter"><a class="nano" href="#">Regulations</a></li>
          <li class="gutter push-r"><a class="nano" href="#">Contact Us</a></li>
          <li class="gutter btn btn-ghost"><a class="nano text-upper" href="#">Login</a></li>
          <li class="gutter btn btn-primary"><a class="nano text-upper" href="#">Register</a></li>
        </ul>

    </div>

  </div>
</header>
