<div style="top:50px; z-index:99999" id="mobile-menu-btn-app">
  <a style="color: #fff; padding:10px 15px 10px 10px; font-size: 1.5em;" href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div style="z-index:1;" id="myTopMobileNav" class="topnav unit xs-1 s-1 pin-center">
  <ul class="list-group-inline push-0 text-upper semibold pad-t-2 text-center">
    <a href="/dashboard/">
      <li class="gutter-2 push-2">
        <img width="60px" src="/images/dashboard-icon-overview.svg" alt="">
      </li>
    </a>
    <a href="/invoice-page/">
      <li class="gutter-2 push-2">
        <img width="60px" src="/images/dashboard-icon-invoices.svg" alt="">
      </li>
    </a>
    <a href="/clients/">
      <li class="gutter-2 push-2">
        <img width="60px" src="/images/dashboard-icon-clients.svg" alt="">
      </li>
    </a>
    <a href="#">
      <li class="gutter-2 push-2">
        <img width="60px" src="/images/dashboard-icon-settings.svg" alt="">
      </li>
    </a>
    <a href="/index/">
      <li class="gutter-2 push-2">
        <img width="60px" src="/images/dashboard-icon-logout.svg" alt="">
      </li>
    </a>
  </ul>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myTopMobileNav");
    if (x.className === "topnav unit xs-1 s-1 pin-center") {
      x.className += " responsive";
    } else {
      x.className = "topnav unit xs-1 s-1 pin-center";
    }
  }
</script>
