label {
  color: var(--color-secondary);
  text-align: left;
}

input, textarea {
  border: none;
}

input:focus {
  border-color:
}
/*
.small {
  max-width: 400px;
} */

.mini {
  max-width: 150px;
}
